#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.botones {
	margin-top: 4rem;
}
.botones__grid {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.botones__row {
	display: flex;
	justify-content: center;
	gap: 1rem;
}
